

:root {
    --gb-dark-green: #081820;
    --gb-green:  #346856;
    --gb-light-green: #88c070;
    --gb-white: #e0f8d0;

    font-family: 'VT323', monospace;
}

body {
    background-color: var(--gb-dark-green);
}

h1 {
    color: var(--gb-light-green);
    text-align: center;
    font-size: 80px;
    font-family: 'VT323' monospace;
}

h2 {
    color: var(--gb-light-green);
    text-align: center;
    font-size: 54px;
    font-family:'VT323' monospace;
}

hr {
    height: 1px;
    border: 0;
    width: 85vw;
    background-color: var(--gb-light-green);
}

.container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(60px, 1fr));
    min-height: 200px;
    width: 100%;
    gap: 30px;
}

.choice {
    border-color: var(--gb-light-green);
    border: 2px solid var(--gb-light-green);
    color: var(--gb-light-green);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    cursor: pointer;
}

.choice:hover {
    box-shadow: var(--gb-green) 0px 10px 20px, var(--gb-green) 0px 6px 6px;
}